alembic
certifi
chardet
click
Flask
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
idna
itsdangerous
Jinja2
Mako
MarkupSafe
python-dateutil
python-dotenv
python-editor
requests
six
SQLAlchemy
urllib3
Werkzeug
WTForms
